<!DOCTYPE html>
<html lang="en">
    <header>
        <% if flash[:errors] %>
            <% flash[:errors].each do |e| %>
            <p id="error"><%= e %></p>  
            <% end %>
        <% end %>
        <div id="header_container">
                <h2>Hello, <%= @user.name %></h2>
                <a href="/logout" class='btn btn-default'>Logout</a>
                <a href="/users" class='btn btn-default'>Your Page</a>
        </div><!-- /#header_container  -->
    </header>
    <body>
        <div class="post_content">
            <h3>New Secret</h3>
            <form action="/secrets/new" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="text" class="form-control" id="secret" name="secrets[content]" value=""></textarea>
                <input type="hidden" name="secrets[user_id]" value="<%=@user.id%>">
                <input type="submit" value="Post content" class="content_submit">
            </form>
        </div>
        <div>
            <div class='row col-md-1' style='display:inline-block; width: 500px; margin: 0; vertical-align: top'>
                <h3>Secrets</h3>
                <% @secrets.each do |post| %>
                    <div class="post_group">
                        <p class="message_content"><%= post.content %>, posted by:<%= post.user.name%>, likes:<%= post.likes.count %></p>
                            <% if post.user == @user%>
                                <form action="secrets/<%= post['id']%>/delete" method="POST" style='display:inline-block; width: 60px'>
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    <input type='hidden' name="_method" value="delete">
                                    <input type="submit" value="delete">
                                </form>
                            <% end %>
                            <% unless post.users.include?(@user)  %>
                                <form action="secrets/<%= post['id']%>/like/<%= @user.id%>" method="POST">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    <input type="hidden" name="likes[secret_id]" id="likes" value="<%=post.id%>">
                                    <input type="hidden" name="likes[user_id]" id="likes" value="<%=@user.id%>">
                                    <input type="submit" value="like">
                                </form>
                            <% else %>
                                <form action="secrets/<%= post['id']%>/unlike/<%= @user.id%>" method="POST">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    <input type="hidden" name="likes[secret_id]" id="likes" value="<%=post.id%>">
                                    <input type="hidden" name="likes[user_id]" id="likes" value="<%=@user.id%>">
                                    <input type="submit" value="unlike">
                                </form>
                                
                            <% end %>
                    </div>
                <% end %>
            </div>
    	</div>
    </body>
</html>